<body style="background-color:powderblue;">

<img src="http://www.pd4pic.com/images/penguin-bird-cool-rapper-gangster-sun-glasses.png" alt="Gangsta Hepi C" style="width:20%;height:15%;">

<h1 style="color:yellow;">Welcome to Lil' Twits, <%= @user.full_name %>!</h1>


<div class="follow_info">
  <a href="/users/:id/followers"></a><h3 id="followers_count">Followers: <%= Follow.where(following_id: @user.id).length %> lil' twitees</h3></a>
  <a href="/users/:id/following"><h3 id="followings_count">Following: <%= Follow.where(follower_id: @user.id).length %> lil' twitees</h3></a>
</div>

<div class="write_twit">
  <h2 style="color:orange">Whatsup lil' twit?</h2>
  <form action ="/posts" method="post">
      <input type="text" name="twit" placeholder="Write your lil' twit here">
      <input type="submit" value="twit"></input>
  </form>
</div>


<div class="feed">
  <h2 style="color:orange"><%= @user.full_name %>'s Bird FEED </h2>
   <% @user.posts.each do |post| %>
      <li> <%= post.text %> </li>
  <% end %>
</div>
