<body style="background-color:powderblue;">


<h2 id="profile-name"> <%= @user.full_name %>'s Profile</h2>

<div class="follow_info">
    <a class="follow-link" href="/users/<%= @user.id %>/follower">
      Following: <%= Follow.where(follower_id: @user.id).length %>
    </a>
    
    <a class="follow-link" href="/users/<%= @user.id %>/following">
      Followers: <%= Follow.where(following_id: @user.id).length %>
    </a>
</div>

<div>
  <% if @user.following.include?(@online_user) %>
    <form action ="/users/<%= @user.id %>/unfollow" method="post">
        <input type="submit" value="Unfollow"></input>
    </form>
  <% else %>
    <form action ="/users/<%= @user.id %>/follow" method="post">
      <input type="submit" value="Follow"></input>
    </form>
  <% end %>

  <p style="color: red">
    <% if @vote_error %>
      <%= @vote_error %>
      <%p "!" * 200 %>
    <% end %>
  </p>

  <p style="color: red">
    <% if @follow_error %>
      <%= @follow_error %>
    <% end %>
    </p>
</div>

<div class="feed">
  <h2><%= @user.full_name %>'s FEED </h2>
   <% @user.posts.each do |post| %>
      <li> 
        <%= post.text %>
        <form method="post">
          <button type="submit" formmethod="post" formaction="/posts/<%=post.id%>/upvotes/new">&#x25B2;</button>
        </form>
        
        <% if post.votes > 0 %>
          <div style="font-size: 16; color: #00EE00; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% elsif post.votes < 0 %>
          <div style="font-size: 16; color: red; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% else %>
          <div style="font-size: 16; color: white; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% end %>
        </div>
        <form method="post">
          <button type="submit" formmethod="post" formaction="/posts/<%=post.id%>/downvotes/new">&#x25BC;</button>
        </form>
      </li>
  <% end %>
</div>
