WELCOME TO YOUR PROFILE

<div class="write_twit">
  <h2 style="color:orange">Whatsup lil' twit?</h2>
  <form action ="/posts/new" method="post">
      <input type="text" name="twit" placeholder="Write your post here">
      <input type="submit" value="twit"></input>
  </form>
</div>

<div class="feed">
  <h2 style="color:orange"><%= @user.full_name %>'s Bird FEED </h2>
   <% @user.posts.each do |post| %>
      <li> 
        <%= post.text %>
        <form method="post">
          <button type="submit" formmethod="post" formaction="/posts/<%=post.id%>/upvotes/new">&#x25B2;</button>
        </form>
        
        <% if post.votes > 0 %>
          <div style="font-size: 16; color: green; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% elsif post.votes < 0 %>
          <div style="font-size: 16; color: red; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% else %>
          <div style="font-size: 16; color: gray; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% end %>
        </div>
        <form method="post">
          <button type="submit" formmethod="post" formaction="/posts/<%=post.id%>/downvotes/new">&#x25BC;</button>
        </form>
      </li>
  <% end %>
</div>