<div class="top-page">
<h2>WELCOME TO YOUR PROFILE</h2>

<div class="follow_info">
    <a class="follow-link" href="/users/<%= current_user.id %>/following">
      Following: <%= Follow.where(follower_id: current_user.id).length %>
    </a>

    <a class="follow-link" href="/users/<%= current_user.id %>/follower">
      Followers: <%= Follow.where(following_id: current_user.id).length %>
    </a>
</div>

<div class="write_post">
  <form action ="/posts/new" method="post">
      <input type="text" name="post" placeholder="Write your post here">
      <input type="submit" class="pure-button pure-button-primary" value="post"></input>
  </form>
</div>

  <h2>Headlines </h2>
</div>
<div class="feed" class="pre-scrollable" style="height:100%;overflow-y:auto;">
  <% @feed_posts.each do |post| %>
      <i><a class="follow-link" href="/users/<%= post.user_id %>"> <%= User.find(post.user_id).username %> </a></i>
      <li> 
        <%= post.text %> 
        <div class="vote">
        <form method="post">
          <button class="pure-button pure-button-primary" type="submit" formmethod="post" formaction="/posts/<%=post.id%>/upvotes/new">&#x25B2;</button>
        </form>
        
        <% if post.votes > 0 %>
          <div style="font-size: 16; color: #00EE00 ; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% elsif post.votes < 0 %>
          <div style="font-size: 16; color: red; font-weight: 900; ">
            <%= post.votes %>
          </div>
        <% else %>
          <div style="font-size: 16; color: white; font-weight: 900; ">
            <%= post.votes %>
          </div>

        </div>
        <form method="post">
          <button class="pure-button pure-button-primary" type="submit" formmethod="post" formaction="/posts/<%=post.id%>/downvotes/new">&#x25BC;</button>
        </form>
        </div>
      </li>
        <i><%= post.created_at %></i><br>
          <% end %>
  <% end %>
</div>